@import "tailwindcss";

:root {
  letter-spacing: 0.18px;
  background: var(--color-slate-400);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
